<!DOCTYPE html>
<html>
  <head>
    <!-- Start -->
    <!--Scripts-->
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/scripts/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-route.js"></script>
    <!-- Styles and Viewports -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midweek Manager">
    <meta name="author" content="Jack Roberts">
    <link rel="stylesheet" href="/public/homepage.css" />
    <link rel="stylesheet" href="/public/card.css" />
    <link rel="stylesheet" href="/public/whhg.css" />
  </head>
  <body ng-app='app' ng-controller='ApplicationCtrl'>
    <div id="wrapper">
      <div class="overlay"></div>
    <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
          <li ng-if="!currentUser" class="sidebar-brand">
            <a>
               MM
            </a>
        </li>
        <div ng-if="currentUser" class="profile-sidebar">
          <div class="profile-userpic">
            <img src="public/profile.jpg" class="img-responsive" alt="">
          </div>
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{currentUser.firstname}} {{currentUser.surname}}
            </div>
            <div class="profile-usertitle-job">
              Signed in as {{currentUser.username}}
            </div>
          </div>
          <div class="profile-userbuttons">
              <a role="button" class="btn btn-danger btn-sm" href="#/logout">Logout</a>
            </div>
        </div>
        <br />
        <li>
            <a href="#/">Home</a>
        </li>
        <li ng-if="currentUser">
            <a href="#/teams">Teams</a>
        </li>
        <li ng-if="currentUser">
            <a href="#">Fixtures</a>
        </li>
        <li ng-if="currentUser">
            <a href="#/feed">Newsfeed</a>
        </li>
        <li ng-if="!currentUser">
            <a href="#/login">Login</a>
        </li>
        <li ng-if="!currentUser">
            <a href="#/register">Register</a>
        </li>
    </ul>
</nav>
<!-- /#sidebar-wrapper -->
<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
  <span class="hamb-top"></span>
  <span class="hamb-middle"></span>
  <span class="hamb-bottom"></span>
</button>
</div>
<div id="page-content-wrapper">
<div ng-view></div>
</div>
</body>
  <script src="/public/midweek_js.js"></script>
  <script src="/public/jquery-color.js"></script>
</html>
