<!DOCTYPE html>
<html>
  <head>
    <!-- Start -->
    <!--Scripts-->
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/scripts/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-route.js"></script>
    <script src="/public/midweek_js.js"></script>
    <!-- Styles and Viewports -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/style.css" />
    <!-- end -->
  </head>
  <body ng-app='app' ng-controller='ApplicationCtrl'>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">MM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul ng-if="currentUser" class="nav navbar-nav navbar-left">
            <li><a href="/#/">Feed</a></li>
          </ul>
          <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
            <li><a href="">Signed in as {{currentUser.username}}</a></li>
            <li ng-click="logout()"><a href="/#/">Logout</a></li>
          </ul>
          <ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
            <li><a href="/#/register">Register</a></li>
            <li><a href="/#/login">Login</a></li>
          </ul>
        </div>
            <!-- MIGHT WANT THIS FOR LATER
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div ng-view></div>
  </body>
</html>
