<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <link rel="stylesheet" href="/scripts/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/scripts/angular.js"></script>
    <link rel="stylesheet" href="/public/style.css" />
    <script src="/public/postsscript.js"></script>
  </head>
  <body>
    <div ng-controller='PostsCtrl' class='container'>
      <h1>ShTwitter</h1>
      <form role='form'>
        <div class='form-group'>
          <div class="input-group">
            <input ng-model="postBody" class='form-control'>
            <span class='input-group-btn'>
              <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
            </span>
          </div>
        </div>
      </form>
      <ul class='list-group'>
        <li ng-repeat='post in posts' class='list-group-item'>
          <strong>@{{ post.username }}</strong>
          <span>{{ post.body }}</span>
          <a href="#" data-ng-click="todoRemove($index)" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
