<div class='container top-buffer'>
</div>
<div class="banner">
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
  <div>
    <h1>Midweek Manager</h1>
    <p class='lead-jumbotron'>
      Manage your fives, sevens, and elevens.
    </p>
</div>
</div>
</div>
<div class="container top-buffer">
  <h1>{{ team.name | uppercase }}</h1>
  <hr />
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Goals</th>
      <th>MoMs</th>
    </tr>
  </thead>
  <tr ng-repeat="player in team.players">
    <td>{{ $index + 1 }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.goals }}</td>
    <td>{{ player.moms }}</td>
</tr>
</table>
</div>
