<div class="container bg top-buffer">
  <div class="container">
  <h1>Player Profile</h1>
  <hr />
  <h3 class="bottom-buffer">{{ vm.user.firstname }} {{ vm.user.surname }}</h3>
  <p><b>Email:</b> {{ vm.user.email }} </p>
  <p><b>Mobile:</b> +44 {{ vm.user.mobilenumber }} </p>
  <p><b>Date of Birth:</b> {{ vm.user.dateofbirth | date:'dd/MM/yyyy'}} </p>
  <hr />
  <a type="button" class="btn btn-primary" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
</div>
</div>
