<div class="banner">
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
  <div>
    <h1>Midweek Manager</h1>
    <p class='lead-jumbotron'>
      Manage your fives, sevens, and elevens.
    </p>
</div>
</div>
</div>
<div class="bg">
<div class="container top-buffer">
  <div class="container">
  <h1>Player Profile</h1>
  <hr />
  <h3 class="bottom-buffer">{{ vm.user.firstname }} {{ vm.user.surname }}</h3>
  <p><b>Date of Birth:</b> {{ vm.user.dateofbirth | date:'dd/MM/yyyy'}} </p>
  <p><b>Email:</b> {{ vm.user.email }} </p>
  <p><b>Mobile:</b> {{ vm.user.mobilenumber }} </p>
  <br />
</div>
</div>
