<div class="banner">
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
  <div>
    <h1>Midweek Manager</h1>
    <p class='lead-jumbotron'>
      Manage your fives, sevens, and elevens.
    </p>
</div>
</div>
</div>
<div class="bg">
<div class="container top-buffer">
  <div class="container">
  <h2>{{ team.name | uppercase }}</h2>
    <h4>Managed by {{ team.manager.surname | uppercase }}, {{ team.manager.firstname | uppercase }} </h4>
  <hr />
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="tab" data-target="#team">My Team</a></li>
    <li><a data-toggle="tab" data-target="#fixs">Fixtures/Results</a></li>
    <li><a data-toggle="tab" data-target="#stats">Statistics</a></li>
    <li><a data-toggle="modal" data-target="#myModal">Invite</a></li>
  </ul>
  <br />
  <div class="tab-content">
    <div id="team" class="tab-pane fade in active">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th> </th>
            <th>Name</th>
            <th>Position</th>
            <th>Goals</th>
            <th>MOM</th>
          </tr>
        </thead>
        <tr ng-repeat="player in team.players | orderBy:positionOrder">
          <td><a class="btn btn-team-page" role="button" ng-click="showPlayer(player._userid)">View</a></td>
          <td>{{ player.firstname | uppercase }} {{ player.surname | uppercase }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.goals }}</td>
          <td>{{ player.moms }}</td>
      </tr>
      </table>
    </div>
    <div id="fixs" class="tab-pane fade">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th> </th>
            <th>Date</th>
            <th>Opposition</th>
            <th>Score</th>
            <th>Result</th>
          </tr>
        </thead>
        <tr ng-repeat="fixture in team.fixtures | orderBy:'fixturedate'">
          <td><a class="btn btn-fixture-page" role="button" ng-click="showFixture(fixture._id)">View</a></td>
          <td>{{ fixture.fixturedate | date:'dd/MM/yyyy' }} @ <b>{{ fixture.fixturedate | date:'HH:mm'}}</b></td>
          <td>{{ fixture.opposition }}</td>
          <td>{{ fixture.goalsfor }} - {{ fixture.goalsagainst }}</td>
          <td ng-show="!fixture.goalsfor && !fixture.goalsagainst">TBC</td>
          <td ng-show="fixture.goalsfor > fixture.goalsagainst">Win</td>
          <td ng-show="fixture.goalsfor < fixture.goalsagainst">Lose</td>
        </tr>
      </table>
      <hr />
      <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#addFixtureModal">Add fixture</a>
    </div>
    <div id="stats" class="tab-pane fade">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Record</th>
            <th>Player</th>
            <th>Count</th>
          </tr>
        </thead>
      <tr>
          <td>Top Goalscorer</td>
          <td>{{ topgoalscorer.number }}</td>
          <td>{{ topgoalscorer.player }}</td>
      </tr>
      </table>
    </div>
  </div>
</div>
</div>
<!-- add a fixture modal -->
<div class="modal fade" id="addFixtureModal" tabindex="-1" role="dialog" aria-labelledby="Add Fixture" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a fixture</h4>
      </div>
      <div id="addfixtureerror" class="alert alert-danger fade in hidden">
        <strong>Uh oh!</strong> You seem to have missed something - please review the fixture.
      </div>
      <form name="addfixture" ng-submit="addFixture(opposition, fixturedate)">
<!-- 2 step modal tbc -->
      <div class="modal-body">
          <p class="undefined" >Opposition: </p>
          <input type="text" class="form-control" type="text" ng-model="opposition">
          <p class="undefined" style="margin-top:10px">Date and Time: </p>
          <input type="datetime-local" id="inputDateOfFixture" class="form-control" ng-model="fixturedate">
      </div>
      <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Add">
      </div>
    </form>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Join {{team.name}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <p class="undefined">Give this code to your players to allow them to join the team.</p>
          <input type="text" class="form-control" value="{{team._id}}" readonly="true">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thanks</button>
      </div>
    </div>
  </div>
</div>
<!-- / join a team modal -->
</div>
