<div class="register-buffer bg">
<div class="form-body">
  <div class="container">
    <form class="form-signin" ng-submit="vm.register(username, email, firstname, surname, dateofbirth, mobilenumber, password)">
      <div id="registererror" class="alert alert-danger fade in hidden">
        <strong>Uh oh!</strong> It seems that either that username is in use, or that email is already registered with us.
      </div>
      <div class="form-group">
        <div class="form-control-wrapper">
          <input class="form-control empty" ng-model="email" id="inputEmail" type="email">
          <div class="floating-label">Email</div><span class="material-input"></span></div>
      </div>
      <div class="form-group">
        <div class="form-control-wrapper">
          <input class="form-control empty" ng-model="username" ng-blur="checkUsername(username)" id="inputUsername" type="text">
          <div class="floating-label">Username</div><span class="material-input"></span></div>
      </div>
        <div class="form-group">
          <div class="form-control-wrapper">
            <input class="form-control empty" ng-model="firstname" id="inputFirstname" type="text">
            <div class="floating-label">First Name</div><span class="material-input"></span></div>
        </div>
        <div class="form-group">
          <div class="form-control-wrapper">
            <input class="form-control empty" ng-model="surname" id="inputSurname" type="text">
            <div class="floating-label">Surname</div><span class="material-input"></span></div>
        </div>
        <div class="form-group">
          <div class="form-control-wrapper">
            <input class="form-control empty" ng-model="dateofbirth" id="inputDateofbirth" type="date">
        <div class="floating-label">Date of Birth</div><span class="material-input"></span></div>
          </div>
          <div class="form-group">
            <div class="form-control-wrapper">
              <input class="form-control empty" ng-model="mobilenumber" id="inputMobile" type="text">
              <div class="floating-label">Mobile Number</div><span class="material-input"></span></div>
          </div>
          <div class="form-group">
            <div class="form-control-wrapper">
              <input class="form-control empty" ng-model="password" id="inputPassword" type="password">
              <div class="floating-label">Password</div><span class="material-input"></span></div>
          </div>
          <div class="form-group">
            <div class="form-control-wrapper">
              <input class="form-control empty" ng-model="confirmpassword" id="inputConfirmPassword" type="password">
              <div class="floating-label">Confirm Password</div><span class="material-input"></span></div>
          </div>


      <!--<div class="form-group">
      <label for="inputEmail" class="sr-only">E-Mail</label>
      <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputUsername" class="sr-only">Username</label>
      <input ng-model="username" ng-blur="checkUsername(username)" type="text" id="inputUsername" class="form-control" placeholder="Username" required>
      </div>
      <div class="form-group">
      <label for="inputFirstname" class="sr-only">Firstname</label>
      <input ng-model="firstname" type="text" id="inputFirstname" class="form-control" placeholder="First Name" required>
      <label for="inputSurname" class="sr-only">Surname</label>
      <input ng-model="surname" type="text" id="inputSurname" class="form-control" placeholder="Surname" required>
      <label for="inputDateofbirth" class="sr-only">Date of Birth</label>
      <input ng-model="dateofbirth" type="date" id="inputDateofbirth" class="form-control" placeholder="Date of Birth" required>
      <label for="inputMobilenumber" class="sr-only">Mobile Number</label>
      <input ng-model="mobilenumber" type="text" id="inputMobilenumber" class="form-control" placeholder="Mobile Number" required>
      </div>
      <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputConfirmpassword" class="sr-only">Confirm</label>
      <input ng-model="confirmpassword" type="password" id="inputConfirmpassword" class="form-control" placeholder="Confirm Password" required>
    </div>
      <!--<div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>-->
      <input class="btn btn-success btn-lg btn-block" type="submit" value="Register">
    </form>
  </div> <!-- /container -->
</div> <!-- /form-body -->
</div>
