<div class='container top-buffer'>
</div>
<div class="banner">
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
  <div>
    <h1>Midweek Manager</h1>
    <p class='lead-jumbotron'>
      Manage your fives, sevens, and elevens.
    </p>
</div>
</div>
</div>
<div class="container top-buffer">
  <h1>Teams</h1>
    <hr />
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Day of play</th>
      <th>No. of players</th>
    </tr>
  </thead>
  <tr ng-repeat="team in teams" ng-click="showTeam(team)">
    <td><a class="btn btn-primary" ng-href="#/teams/{{team._id}}">Manage</a></td>
    <td>{{ team.name }}</td>
    <td>{{ team.type }}</td>
    <td>{{ team.playday }}</td>
    <td>{{ team.players.length }}</td>
</tr>
</table>
</div>
