<div class='container top-buffer'>
</div>
<div class="banner">
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
  <div class='container'>
    <h1>Midweek Manager</h1>
    <p class='lead-jumbotron'>
      Manage your fives, sevens, and elevens.
    </p>
</div>
</div>
</div>
<div class="container top-buffer">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Day of play</th>
    </tr>
  </thead>
  <tr ng-repeat="team in teams">
    <td>{{ team.name }}</td>
    <td>{{ team.type }}</td>
    <td>{{ team.playday }}</td>
</tr>
</table>
</div>
