body
{
    background-color:#FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.grey
{
    background-color:#EEEEEE;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-buffer { margin-top: 20px;}

.jumbotron
{
  background-color: #6f5499;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:30px
}

.jumbotron h1, .jumbotron .h1 {
  color: white;
}

h1
{
    margin:0;
    padding-bottom:5px;
}
.pull-right {
  line-height: 0.25em;
}

.list-group-item {
padding: 15px 15px;
}

form {
	margin: 0 0 10px;
	overflow: hidden;
}

.todoField{
    border-radius:0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
    display: inline-block;
    height: 33px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    vertical-align: middle;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}
li.ui-state-default input[type="checkbox"]{
	margin-right: 10px;
	/* -webkit-appearance: none; */
	background: url("uncheck-check.png") no-repeat 0 0;
	width: 22px;
	height: 22px;
}
li.ui-state-default input[type="checkbox"]:checked{
	background: url("uncheck-check.png") no-repeat -23px 0;
}
li.ui-state-default label {
	font-weight: normal;
    padding: 5px 0 0;
}
li.ui-state-default:last-child{
    border-bottom:none;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}
a {
	margin-left: 5px;
}
.clear-box {
	background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}

.pre {
    color: blue;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 525px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
.carousel .item {
  height:525px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 900px) {
  .carousel {
  height: 450px;
  }
  .carousel .item {
    height: 450px;
    background-color: #777;
  }
  .carousel-inner > .item > img {

  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;

  }

  .navbar-inverse .navbar-brand {
      color: #eeeeee;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: #eeeeee;
}

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* More */

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 400px;
	right: 0;
	left: 0;
}

@media(min-width: 900px) {
  .carousel-overlay {
  bottom: 275px;
  }
}
@media(max-width: 500px) {
  .carousel-overlay {
  bottom: 275px;
  }
}

.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.carousel-overlay h1 {
    font-size: 3.5em;
}
.carousel-overlay .btn {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 30px;
}
